---
import Layout from "../layouts/Layout.astro";
import Redirects from "../pages/Redirects.astro";
import { execSync } from "child_process";

export const prerender = false;

const res = await fetch('https://api.github.com/users/tarfish/repos');
const repos = await res.json();
const latestRepos = repos
  .sort((a, b) => new Date(b.updated_at) - new Date(a.updated_at))
  .slice(0, 5);

const commitHash = execSync('git rev-parse --short HEAD').toString().trim();
const commitDateRaw = execSync('git log -1 --format=%cd --date=short').toString().trim();
const date = new Date(commitDateRaw);
const commitDate = date.toLocaleDateString('en-US', { 
  year: 'numeric',
  month: 'long', 
  day: 'numeric' 
});
---
<header>my projects!</header>

<Layout title="projects">
</Layout>

<div class="mt-12 mx-5 gap-8">
  <div class="p-12 py-4 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-700 border-4 border-blue-900 justify-center items-center flex flex-col text-xl text-white">
    <Redirects />
  </div>
  <br>
  <div class="p-12 py-4 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-700 border-4 border-blue-900 justify-center flex flex-col text-lg text-white">
    <p>5 latest repos pulled straight from github!</p>
    {latestRepos.map((repo) => (
      <div class="mb-6">
        <h2 class="text-2xl"><a href={repo.html_url} target="_blank">{repo.name}</a></h2>
        <p class="mt-2">{repo.description}</p>
      </div>
    ))}
  </div>
</div>

<footer class="text-center">
  <span class="lowercase">
    by sarvesh,Last updated: {commitDate} (commit {commitHash})
  </span>
</footer>